.container {
  display: flex;
}


.title{
  margin-top: 10px;
 
}
  .button-add-item {
    position: sticky; /* Use absolute positioning */
    top: 25px; /* Adjust the distance from the top */
    right: 40px; /* Adjust the distance from the right */
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    white-space: nowrap;
  }


.upload-image-modal {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%; /* Adjust the width of the modal */
  max-width: 500px; /* Ensure the modal does not exceed 500px in width */
}

.upload-image-modal h2 {
  margin-bottom: 20px;
}

.upload-image-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-image-modal input[type="text"],
.upload-image-modal input[type="file"] {
  margin-bottom: 10px;
}

.upload-image-modal button {
  margin-top: 10px;
}

.uploaded-image {
  max-width: 80%;
  max-height: 50%;
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image covers the available space without distorting its aspect ratio */
  border-radius: 10px; /* Optional: Adds rounded corners to the images */
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.image-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Display 4 images per row */
  gap: 10px;
  align-content: center; /* Align grid items at the center of the container */
  grid-auto-rows: minmax(auto, auto); /* Set minimum row height */
}

.uploaded-image {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

